{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGIO</title>
    <link rel="stylesheet" href="{% static 'style/styleindex.css' %}">
    <link rel="stylesheet" href="{% static 'style/hover.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/hover.css' %}"> -->
</head>
<style>
    .btnAuth {
        background-color: white;
        border: none;
        margin: 0;
        padding: 0;
    }
</style>

<body>
    <!-- NAVBAR -->
    <nav class="principal">
        <nav>
            <div class="logo" >
                <p>PGIO</p>
            </div>
            <a href="">Home</a>
            <a href="">Sobre</a>
            <a href="">Contacto</a>
            <a href="">Entrar</a>
        </nav>
        <img src="" id="foto" alt="Painel de imagens do sistema">
    </nav>
    <div class="content">
        <!--Aqui vai ser exibido o conteúdo principal.-->
        <section class="text-top">
            <p>Registra-se ou inicia sessão para explorar todas as funcionalidades da plataforma</p>
            <a href="{% url 'account_signup' %}">Registrar</a>
            <a href="{% url 'account_login' %}">Entrar</a>
        </section>

        <section class="sec-seg">
            <img src="{% static 'model-img.png' %}" alt="">
            <div class="text-sec">
                <h2>Aqui você pode monitorar o funcionamento da sua instituição
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis esse et provident odit maiores
                    sunt nesciunt sint nam necessitatibus fuga, quam ipsam ducimus incidunt magnam obcaecati placeat
                    ipsum expedita maxime.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti quaerat quae assumenda
                    laboriosam magni facere perspiciatis reiciendis suscipit ea modi tempore, vel, vero qui rerum
                    commodi quisquam earum quia?</p>
            </div>
        </section>

        <!-- Seção 2 -->
        <section class="sec-seg">
            <div class="card-info">
                <h2>Com a ajuda da eletrónica tudo fica mais fácil</h2>
                <p>Foi projetado um sistema FingerPrint para contabilizar os membros presentes!</p>
                <img src="https://th.bing.com/th/id/R.2bfcb1f76e10d8cf3d128e870104041b?rik=HMo5KMuSUbv6fw&pid=ImgRaw&r=0"
                    alt="Sistema FingerPrint" class="img-small">
            </div>
            <div class="card-info">
                <h2>Área restrita</h2>
                <p>Registra-se ou inicia sessão para explorar todas as funcionalidades da plataforma</p>
                <a class="btn" href="{{ signup_url }}">Registrar</a><a class="btn"
                            href="{{ login_url }}">Entrar</a>
            </div>
        </section>
    </div>
     <!-- FOOTER -->
    <footer class="footer">
        <div>
            <h3>Redes sociais</h3>
            <a href="#">LinkedIn</a>
            <a href="#">Instagram</a>
        </div>
        <div>
            <h3>Links</h3>
            <a href="#">Sobre</a>
            <a href="#">Políticas</a>
            <a href="#">Desenvolvedores</a>
        </div>
        <div>
            <h3>Contactos</h3>
            <p>(+244) 933600597</p>
            <p>transfortech0@gmail.com</p>
            <a href="#">Whatsapp</a>
        </div>
        <div>
            <h3>Outros Projetos</h3>
            <a href="#">Eyk</a>
            <a href="#">Agrodrone</a>
        </div>
    </footer>
    <script src="{% static 'script/script.js' %}"></script>
</body>

</html>