{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGIC - Todos Membros</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/hover.css' %}">
</head>

<body>
    {% include 'account/sidebar.html' %}
    <div class="content">
        <!--Aqui vai ser exibido o conteúdo principal.-->
        <nav>
            <h1>Membros da organização {{ user }} </h1>
            <p id="hour">hora:</p>
        </nav>
        <section>
            <table border="">
                <tr>
                    <th>Nome</th>
                    <th>Número</th>
                    <th>Email</th>
                    <th>Alterações</th>
                </tr>
                <tr>
                    <td>Abel</td>
                    <td>(+244) 941606790</td>
                    <td>Abelpy@gmail.com</td>
                    <td>
                        <button id="edit">Editar</button>
                        <button id="delete">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Fábio</td>
                    <td>0000000000</td>
                    <td>FabioNgila@gmail.com</td>
                    <td>
                        <button id="edit">Editar</button>
                        <button id="delete">Eliminar</button>
                    </td>
                </tr>
            </table>
        </section>
    </div>
    <script src="{% static 'script/script.js' %}"></script>
</body>

</html>