{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGIC - Departamentos</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/hover.css' %}">
</head>

<body>
    {% include 'account/sidebar.html' %}
    <div class="content">
        <!--Aqui vai ser exibido o conteúdo principal.-->
        <nav>
            <h1>Listagem de departamentos </h1>
            <!--p id="hour">hora:</p-->
        </nav>
        <section>
            <table border="table table-striped table-bordered">
                <tr>
                    <th>Nome do departamento</th>
                    <th>Gestor</th>
                    <th>Descrição</th>
                    
                </tr>
                {% for dado in dados %}
                <tr>
                    <td>{{dado.nome}}</td>
                    <td>{{dado.gestor}}</td>
                    <td>{{dado.descrição}}</td>
                    <td>
                        <button id="edit">Editar</button>
                        <button id="delete">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>
    <script src="{% static 'script/script.js' %}"></script>
</body>

</html>