{% load static %}
<div class="sidebar">
    <img src="{{ config.logotipo.url }}" alt="Logo" />   
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'admini' %}">Administração</a>
    <!--a href="{% url 'historico' %}">Histórico</a-->
    <a href="{% url 'definicoes' %}">Settings</a>
    <div class="sidebarBottom">
        <a href="#">Ajuda</a>
        <a href="#">Reportar</a>
    </div>
    <div class="info-rodape">
        <p>Todos direitos reservados a Transfortech</p>
    </div>
</div>